@import 'mixins';

* {
    margin: 0; padding: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.fullscreen {
    // position must be fixed to avoid
    // pull-down pull-up scrolling on iPad
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    // border: 2px dashed yellow;
}

section {
    display: none;
    &.visible {
        display: block;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.timer {
        background-color: black;
    }
    &.end {
        background-color: green;
    }
    &.config {
        background-color: black;
    }
}
svg.clock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    path {
        fill: red;
    }
}

section.config {
    &.initial {
        button.start {
            margin-right: 0;
        }
        button.cancel {
            display: none;
        }
    }

    >div {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: auto;
        transform: translate(0, -50%);

        div:first-child {
            width: 60%;
            height: 0;
            padding-bottom: 10%;
            overflow: visible;
            margin: 0 auto;
            position: relative;
            display: block;

            .digits {
                display: inline-block;
                vertical-align: middle;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                white-space: nowrap;
                transform: translate(0, -50%) scale(0.5);

                &.min {
                    right: 105%;
                    transform-origin: right center;
                }
                &.max {
                    left: 105%;
                    transform-origin: left center;
                }
            }
        }
        .digits.value {
            width: 100%;
            height: auto;
            text-align: center;
            transform-origin: center top;
            transform: scale(0.5);
        }

        nav {
            text-align: center;
        }
        button {
            width: 10%;
            height: 0;
            padding-bottom: 10%;
            border-width: 4px;
            border-style: solid;
            border-top-color: #ffffff50;
            border-left-color: #ffffff50;
            border-right-color: #00000050;
            border-bottom-color: #00000050;
            background-color: #333;
            box-sizing: content-box;
            &.start {
                $svg: (
                    '<path fill="green" d="M10,10 L90,50 L10,90 Z" />'
                );
                @include svg($svg, 0, 0, 100, 100);
                margin-right: 15%;
            }
            &.cancel {
                $svg: (
                    '<path fill="none" stroke="red" stroke-width="8" d="M10,10 L90,90 M 90,10 L 10,90" />'
                );
                @include svg($svg, 0, 0, 100, 100);
            }
        }
    }
}

.remaining {
    display: block;
    position: absolute;
    text-align: center;
    // width + left + top is maintained by js
}
.digits span {

    // numbers
    display: inline-block;
    vertical-align: top;
    // width + height is set runtime

    /*
        SVG numbers, casio style
        vars for each line:

            ---l1---
           |        |
           l2      l3
           |        |
            ---l4---
           |        |
           l5      l6
           |        |
            ---l7---

        active lines are white
        inactive lines are semitransparent black
    */

    $gw: '<g fill="#888">';
    $gb: '<g fill="#222">';
    $g: '</g>';
    $l1: '<path d="M 55,35 l 20,-20 h 110 l 20,20 l -20,20 h -110 Z" />';
    $l2: '<path d="M 45,45 l 30,30 v 90 l -30,30 l -30,-30 v -90 Z" />';
    $l3: '<path d="M 215,45 l 30,30 v 90 l -30,30 l -30,-30 v -90 Z" />';
    $l4: '<path d="M 55,205 l 20,-20 h 110 l 20,20 l -20,20 h -110 Z" />';
    $l5: '<path d="M 45,215 l 30,30 v 140 l -30,30 l -30,-30 v -140 Z" />';
    $l6: '<path d="M 215,215 l 30,30 v 140 l -30,30 l -30,-30 v -140 Z" />';
    $l7: '<path d="M 55,425 l 20,-20 h 110 l 20,20 l -20,20 h -110 Z" />';

    &.n0 {
        $svg: ($gb,$l4,$g, $gw,$l1,$l2,$l3,$l5,$l6,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n1 {
        $svg: ($gb,$l1,$l2,$l4,$l5,$l7,$g, $gw,$l3,$l6,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n2 {
        $svg: ($gb,$l2,$l6,$g, $gw,$l1,$l3,$l4,$l5,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n3 {
        $svg: ($gb,$l2,$l5,$g, $gw,$l1,$l3,$l4,$l6,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n4 {
        $svg: ($gb,$l1,$l5,$l7,$g, $gw,$l2,$l3,$l4,$l6,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n5 {
        $svg: ($gb,$l3,$l5,$g, $gw,$l1,$l2,$l4,$l6,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n6 {
        $svg: ($gb,$l3,$g, $gw,$l1,$l2,$l4,$l5,$l6,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n7 {
        $svg: ($gb,$l2,$l4,$l5,$g, $gw,$l1,$l3,$l6,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n8 {
        $svg: ($gw,$l1,$l2,$l3,$l4,$l5,$l6,$l7,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
    &.n9 {
        $svg: ($gb,$l5,$l7,$g, $gw,$l1,$l2,$l3,$l4,$l6,$g);
        @include svg($svg, 0, 0, 260, 460);
    }
}

input[type=range] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    border-radius: 0;
    background-color: transparent;

    $svg: (
        '<path fill="none" stroke="#888888" stroke-width="1"'
        ' d="M0,5 H100" />'
    );
    @include svg($svg, 0, 0, 100, 10);
    background-position: left center;

    &:focus {
        outline: none;
    }

    // track
    &::-webkit-slider-runnable-track { @include range-track; }
    &::-moz-range-track { @include range-track; }
    &::-ms-track { @include range-track; }

    // thumb
    &::-webkit-slider-thumb { @include range-thumb; }
    &::-moz-range-thumb { @include range-thumb; }
    &::-ms-thumb { @include range-thumb; }

}
